@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes cardFlipAnimation{
  0% {transform: scaleX(1);}
  50% {transform: scaleX(0.01);}
  100% {transform: scaleX(1);}
}

.cardFlipClass{
  animation:cardFlipAnimation;
  animation-duration:1s;
  animation-iteration-count: 1;
}

@keyframes journeySlideAnimation{
  from{transform: translateX(0);}
  to{transform: translateX(200%);}
}

.journeySlideClass{
  animation:journeySlideAnimation;
  animation-duration:1s;
}

@keyframes expandSlideAnimation{
  from{transform: translateX(-200%);}
  to{transform: translateX(0);}
}

.expandSlideClass{
  animation:expandSlideAnimation;
  animation-duration:1s;
}

.growGradient {
  background: linear-gradient(to right bottom, #ddd6fe00, #fecaca00);
  background-size: 0% 0%;
  background-repeat: no-repeat;
  animation: expandGradient 0.5s ease-out forwards;
}

@keyframes expandGradient {
  0% {
    background: linear-gradient(to right bottom, 
      #c7d2fe00 0%, 
      #a3d4e600 0%, 
      #fecaca00 0%);
  }
  10% {
    background: linear-gradient(to right bottom, 
      #c7d2fe1A 5%, 
      #a3d4e61A 10%, 
      #fecaca0A 15%);
  }
  20% {
    background: linear-gradient(to right bottom, 
      #c7d2fe33 10%, 
      #a3d4e633 20%, 
      #fecaca14 25%);
  }
  30% {
    background: linear-gradient(to right bottom, 
      #c7d2fe4D 15%, 
      #a3d4e64D 25%, 
      #fecaca1F 35%);
  }
  40% {
    background: linear-gradient(to right bottom, 
      #c7d2fe66 20%, 
      #a3d4e666 35%, 
      #fecaca33 45%);
  }
  50% {
    background: linear-gradient(to right bottom, 
      #c7d2fe80 25%, 
      #a3d4e680 40%, 
      #fecaca4D 55%);
  }
  60% {
    background: linear-gradient(to right bottom, 
      #c7d2fe99 30%, 
      #a3d4e699 45%, 
      #fecaca66 65%);
  }
  70% {
    background: linear-gradient(to right bottom, 
      #c7d2feb3 35%, 
      #a3d4e6b3 50%, 
      #fecaca80 75%);
  }
  80% {
    background: linear-gradient(to right bottom, 
      #c7d2feCC 40%, 
      #a3d4e6CC 55%, 
      #fecaca99 85%);
  }
  90% {
    background: linear-gradient(to right bottom, 
      #c7d2fee6 45%, 
      #a3d4e6e6 60%, 
      #fecacab3 95%);
  }
  100% {
    background: linear-gradient(to right bottom, 
      #c7d2fe 50%, 
      #a3d4e6 70%, 
      #fecaca 100%);
  }
}
